<!-- LINKS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-6 no-gutter img-div d-flex justify-content align-items-center">
      <img src="../../../assets/landing-page-image.jpg" alt="landing-page-image" />
    </div>
    <div class="col-md-6 no-gutter d-flex justify-content align-items-center">
      <p class="text">Using analytics data and AI for food crisis management lets you respond both proactively and
        reactively to the hunger crisis gripping the entire country.<br />
          <button type="button" (click)="setTimeout()" class="btn btn-lg btn-success" style="margin-top: 10px; margin-left: 5px">
            Request/ Donate Food
          </button>
      </p>
  </div>
</div>


  
